html,body{
    margin: 0px;
    padding: 0px;
    border: ridge lightgreen;
    border-width: 5px;
}

.blackbox{
    font-size:40px; 
    color: white;
    font-style: italic; 
    background-color: black;
    padding: 10px;
    border: 5px solid red;
    border-radius: 25px;
    text-align: center;
    position: relative;
}

.circle{
    font-style: italic;
    font-weight: bold;
    font-size: 21px;
    padding: 1px;
    text-decoration: underline;
    text-align: center;
    align-items: center;
    height: 350px;
    width: 350px;
    background-color: #009191;
    border-radius: 50%;
    border: 5px solid gray;
    display: inline-block;
    margin-top: 300px;
    margin-left: 15px;
    position: absolute;
}

.table{
    text-align: center;
    background-color: aqua;
    border: 2px solid green;
    border-radius: 15px;
    color: royalblue;
}