body{
    text-align: center;
    font-size: 40px;
    border: 8px;
    margin: 0;
    border-style: outset;
    border-left-color: #f8640f;
    border-right-color: #009400;
    border-top-color: white;
    border-bottom-color: white;
    overflow-x: hidden;
}
.sky{
    background-image: url(./sky.jpg);
    width: 98.3vw;
    height: 99vh;
    z-index: -1;
    overflow-x: hidden;
    background-size: cover;
}
.h{
    background-color: #f8640f;
}
.i{
    background-color: white;
}
.d{
    background-color: #009400;
}
.city{
    background-image: url(./city.png);
    margin-top: 250px;
    height: 250px;
    animation-name: city;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.road{
    background-image: url(./road.jpg);
    background-repeat: repeat;
    height: 300px;
    animation-name: road;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.sun{
    background-image: url(./pngaaa.com-161031_100x100.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 90vw;
    animation-name: sun;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.car{
    position: absolute;
    margin-top: -20vw;
    margin-left: 35vw;
}
.chassis{
    background-image: url(./car.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 450px;
    animation-name: suspension;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.wheel1{
    background-image: url(./wheel.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    margin-top: -93px;
    margin-left: 40px;
}
.wheel2{
    background-image: url(./wheel.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    margin-top: -79px;
    margin-left: 315px;
}
.wheel{
    animation-name: rotate;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate{
    100%{
        transform: rotate(36000deg);
    }
}
@keyframes suspension{
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes road{
    100%{
        margin-left: -200vw;
    }
}
@keyframes city{
    100%{
        margin-left: -200vw;
    }
}
@keyframes sun{
    100%{
        margin-left: 0vw;
    }
}