body{
    background-image: url(./desert.jpg);
}
.x{
    text-decoration: none;
    color: black;
}
.logo{
    margin-left: 50px;
    margin-top: 50px;
}
.info{
    width: 45vw;
    margin-left: 50px;
    margin-top: 190px;
}
.title{
    font-size: 100px;
    color: White;
    font-weight: bold;
}
.detail{
    font-size: 20px;
    color: White;
}
.explore{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    width: 250px;
    background-color: aliceblue;
    padding: 20px 50px 20px 50px;
    border-radius: 15px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    position: absolute;
    top: 15px;
    right: 0;
}
.navbar1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
}
.nav{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.region{
    position: absolute;
    top: 100px;
    right: 0;
    width: 800px;
    height: auto;
    display: grid;
    grid-template-columns:repeat(2,350px);
    grid-template-rows: repeat(2,450px);
}
.region>a{
    text-decoration: none;
}
.r{
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 10px;
    padding-top: 10px;
    transition: transform 0.5s;
    color: White;
}
.r1{
    background-image: url(./westdesert.png);
}
.r2{
    background-image: url(./aibagawat.png);
}
.r3{
    background-image: url(./pyramid.png);
}
.r4{
    background-image: url(./saharadesert.png);
}

.r:hover{
    transform: translateY(-10px);
}


@media screen and (min-width: 740px) and (max-width: 780px){
    .navbar{
        width: 100px;
        top: 25px;
    }
    .navbar1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        top: 7px;
        width: 250px;
    }
    .title{
        font-size: 80px;
    }
    .detail{
        font-size: 20px;
    }
    .region{
        top: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .r{
        width: 400px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 340px) and (max-width: 380px){
    .logo{
        margin-left: 10px;
        margin-top: 10px;
    }
    .info{
        width: 85vw;
        margin-left: 10px;
        margin-top: 190px;
    }
    .explore{
        width: 150px;
    }
    .navbar{
        width: 15px;
        top: 25px;
    }
    .navbar1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        top: 7px;
        width: 150px;
    }
    .title{
        font-size: 50px;
    }
    .detail{
        font-size: 15px;
    }
    .region{
        top: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .r{
        width: 290px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}